body
{
  color: #333333;
  font-size: 14px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 100px;
  padding: 0;
  max-width: 800;
}

sectionHeader
{
  font-size: 23px;
  padding-bottom: 10px;
  display: inline-block;
}

pubYear
{
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
}

pubTitle
{
  font-size: 18px;
  font-weight: normal;
}

pubAuthors
{
  font-size: 14px;
  color: #777777;
  font-weight: normal;
  padding-top: 5px;
  display: inline-block;
}

pubInfo
{
  font-size: 15px;
  font-weight: normal;
  font-style: italic;
  padding-top: 5px;
  display: inline-block;
}

td
{
  font-size: 14px;
}

a:link
{
    color: #0000FF;
    text-decoration: none;
}

a:visited
{
    color: #0000FF;
    text-decoration: none;
}

a:hover, a:active
{
    color: #AA00AA;
    text-decoration: none;
}
